
      #multiple37 .th {
   background:#3C8DBC;
   color: white;
   font-size: medium;
   font-weight: normal;
}

.pagination-div
{
background:#3C8DBC;
height:50px;


}



  #multiple37  tr:hover {background-color: #f5f5f5}