ul.right-faq-list li a{height:0 !important;line-height:21.5px !important;min-height:57px;padding-top:5px;}
.prcm{color:#8dc153;font-size:18px !important;height:50px;margin:0;padding-top:0;}
.consul{color:#ffffff;font-size:28px;margin-bottom:10px;margin-top:20px;padding-top:15px;text-align:center;}
.bill{box-sizing:border-box;display:block;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:32px !important;text-align:center;}
.EmrSoftwareList table tr td{width:390px}
.EmrSoftwareList table tr{float:left}
.emr-banner-search .form-control{font-size:15px !important;}
.banner-resource-center{background:#707072 url("../images/banners/resource-center.png") no-repeat scroll center top;min-height:300px;}
.banner-img-icd10{width:470px;}
.outsource{background:#c1c1c1;padding:20px;padding-left:8px;width:351px;border-radius:7px;}
.outsource-ddl{padding:6px;padding-left:8px;width:334px;height:-1px;border-radius:1px;}
.outsource-ddl2{padding-left:74px;padding-top:15px;}
.banner_content{padding-top:20px;line-height:2;}
.h1tag{font-size:18px !important;color:#8dc153;height:50px;margin:0;padding-top:0;}
.h1tagbilling{padding:5px 0 5px 0;font-size:18px;margin:0;}
.h1tagdiv{box-sizing:border-box;color:#fff;display:block;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:24px !important;text-align:center;}
.h1tagdiv-h1bold{font-weight:bold;}
.h1tagdiv1{font-size:28px;padding-top:15px;color:#FFFFFF;text-align:center;margin-top:20px;margin-bottom:10px;}
.h1tagdivjobs{font-size:24px !important;color:#337ab7;text-decoration:none;font-weight:bold;}
.h1tagdivquiz{font-size:17px;color:#8ed344;text-align:center;}
.h1tagdivquizinner{font-size:32px !important;margin-top:75px;color:#121212;text-transform:uppercase;}
.h1tagdivquiz1{position:relative;top:530px;text-align:center;font-size:30px;line-height:65px;}
.h1tagdivnewslettertab1{padding-bottom:10px !important;font-size:23px !important;color:#00b1ba !important;margin-top:20px !important;margin-bottom:15px !important;}
.h1tagdivnewslettertab2{padding-bottom:10px !important;font-size:23px !important;color:#b1cd6f !important;margin-top:20px !important;margin-bottom:15px !important;}
.h1tagdivnewslettertab3{padding-bottom:10px !important;font-size:23px !important;color:#515252 !important;margin-top:20px !important;margin-bottom:15px !important;}
.h1tagdivicd{font-size:24px !important;color:#ffffff !important;text-align:center;margin-top:20px;margin-bottom:10px;font-weight:bold;}
.icd10eboook{font-size:16px !important;font-weight:bold;}
.h1tagdivicdtraining{font-size:14px !important;color:#444343;font-weight:bold;}
.h1tagdivbillingpractice{font-size:14px !important;color:#337ab7!important;font-weight:bold;}
.h1tagicd10tab1{color:#00b1ba!important;font-size:19px !important;font-weight:bold;margin-top:20px !important;margin-bottom:15px !important;}
.h1tagicd10tab2{color:#b1cd6f !important;font-size:19px !important;font-weight:bold;margin-top:20px !important;margin-bottom:15px !important;}
.h1tagicd10tab3{color:#515252 !important;font-size:19px !important;font-weight:bold;margin-top:20px !important;margin-bottom:15px !important;}
.h1tagdivbillers{font-size:32px !important;color:#131313;!important;text-align:center;display:block;box-sizing:border-box;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;margin-top:20px;margin-bottom:10px;}
.h1tagdivcityindex{font-size:30px !important;display:block;box-sizing:border-box;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;margin-top:20px;margin-bottom:10px;}
label{font-weight:normal !important;}
.side-content{z-index:10 !important;}
.icon-car{background-image:url("/images/information.png");background-position:center center;height:34px;width:34px;}
.billing-insight-date{width:170px !important;margin:8px 31px 0 0px;}
.btn-success2{background-color:#5cb85c;border-color:#4cae4c;color:#fff;-moz-user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;display:inline-block;font-size:14px;font-weight:normal;line-height:1.42857;margin-bottom:0;padding:6px 12px;text-align:center;vertical-align:middle;white-space:nowrap;margin-left:-126px !important;}
.banner-img-billing-guideline2{background:rgba(0, 0, 0, 0) url("../images/infograph.jpg") no-repeat scroll right top/cover;height:300px;position:relative;z-index:1;}
.side-content2{display:none;width:50%;height:474px;position:fixed;top:80px;right:0px;border:4px solid #ffffff;background:#00b1ba;z-index:4000;border-radius:7px;padding:50px 30px;overflow:auto;}
.side-content .form-control2{background:#fff;color:#000!important;}
side-content .btn-success2{background:#666;background-image:initial;background-position-x:initial;background-position-y:initial;background-size:initial;background-repeat-x:initial;background-repeat-y:initial;background-attachment:initial;background-origin:initial;background-clip:initial;background-color:rgb(102, 102, 102);border:1px solid #fff;border-top-color:rgb(255, 255, 255);border-top-style:solid;border-top-width:1px;border-right-color:rgb(255, 255, 255);border-right-style:solid;border-right-width:1px;border-bottom-color:rgb(255, 255, 255);border-bottom-style:solid;border-bottom-width:1px;border-left-color:rgb(255, 255, 255);border-left-style:solid;border-left-width:1px;padding:5px 18px;color:#fff;font-size:20px;text-transform:uppercase;margin-top:20px;margin-bottom:20px;}
closeme2{display:block;float:right;margin:6px 6px 0px 0px;padding:4px 10px;border:2px solid #808080;color:#808080;}
quetion-content2{border-bottom:1px solid #ccc;color:#444;font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;font-size:18px;margin:0 19px;min-height:280px;padding:30px 3px 0;width:none;}
back-code{background:#00b1ba none repeat scroll 0%;}
2{width:240px;margin:25px 0 0;padding:0;}
@media screen and (min-width:200px) and (max-width:980px){#contact{padding-left:50px !important;}
#side-content-1{width:100%;}
}