@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#666666;background:url(../images/background.jpg) repeat-y top center;}
table.productsTable td { border-width: 1px; border-style: inset; padding:5px;}
table.productsTable th { border-width: 1px; border-style: inset; padding:5px;}
ul{margin:5px;width:calc();}
ul li{margin:0; padding:0; padding:3px 0px; list-style-image:url(../images/list_tick.png);}
ol {padding: 0 0 0 27px;overflow:hidden; text-align:left;}
ol li{padding: 5px 5px 5px 5px;}
ol li a{color:#666;}
a{outline:none; text-decoration:none; border:0px; color:#0098b3;}
h1{font-size:30px; margin:5px 0 0 0; padding:0 auto; color:#666; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight:lighter;}
h2{ color:#6d6e71; font-size:20px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; padding:5px 0 0 0; margin:0; font-weight:lighter;}
h2 a{ color:#6d6e71; text-decoration:none; }
h2 a:hover{ color:#6d6e71; text-decoration:none; color:#000;}
h3{font-size:14px; padding:0; margin:0;}
h3 a{color:#666;}
p{margin:10px 0; padding:0; text-align:justify;}
.p_line_seperator{border-bottom:1px solid #e2e2e2; padding: 0 0 10px 0; margin:10px 0 ;}
.p_image_seperator{ padding:10px 0 0 0; background:url(../images/content_heading_bg.jpg) repeat-x top; text-align:justify; margin-TOP:10px }
img{margin:0; padding:0; border:none;}
.subheading{ color:#6d6e71; font-size:18px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; padding:5px 0 0 0; margin:0; font-weight:lighter;}
.subheading a{ color:#6d6e71; text-decoration:none; }
.subheading a:hover{ color:#6d6e71; text-decoration:none; color:#000;}
img{margin:0; padding:0; border:none;}
/*input{ padding:3px; height:18px; background:url(../images/textbox_bg.jpg) repeat-x;}*/
#wrapper {position: relative; width:865px; margin: 0px auto; padding:0px 50px;  	}
#wrapper1 {position: relative; top:140px; width:865px; margin: 0px auto; padding:0px 50px;  	}
#fix_part{background:#FFF; position:fixed; margin:0 auto; padding:0px; width:865px; height:140px; z-index:1000;}

.float_helpline{position:fixed;width:200px;height:82px;padding:0;background:url(http://cdn1.medicalbillersandcoders.com/images123/toll_free_no.png) no-repeat;z-index:100;background-position:initial;bottom:0px; right:0px;}

/*  slider  */
#slider{width:65px; height:398px; background:url(../images/slider_bg.png) repeat-y center; margin:10px 0 0 -69px;}
#slider_menus { float:left; display:block; width:65px; }

.slider_menu_biller_services a{ float:left; display:block; width:65px; height:90px; margin:0; background:url(../images/rollover_biller_services1.jpg) no-repeat center;}
.slider_menu_biller_services a:hover{ float:left; display:block; width:65px; height:90px;  margin:0; background:url(../images/rollover_biller_services2.jpg) no-repeat center;}

.slider_menu_findbiller_services a{ float:left; display:block; width:65px; height:90px; margin: 0; background:url(../images/rollover_biller_findbiller2.jpg) no-repeat center;}
.slider_menu_findbiller_services a:hover{ float:left; display:block; width:65px; height:90px;  margin:0; background:url(../images/rollover_biller_findbiller1.jpg) no-repeat center;}

.slider_menu_icdimp_services a{ float:left; display:block; width:65px; height:90px; margin: 0; background:url(../images/rollover_biller_icd_implementation2.jpg) no-repeat center;}
.slider_menu_icdimp_services a:hover{ float:left; display:block; width:65px; height:90px;  margin: 0; background:url(../images/rollover_biller_icd_implementation1.jpg) no-repeat center;}

.slider_menu_contact_services a{ float:left; display:block; width:65px; height:90px; margin: 0; background:url(../images/rollover_biller_contactus2.jpg) no-repeat center;}
.slider_menu_contact_services a:hover{ float:left; display:block; width:65px; height:90px;  margin: 0; background:url(../images/rollover_biller_contactus1.jpg) no-repeat center;}

#slider_name{ width:65px; height:28px; color:#b7b7b7; text-transform:uppercase; font-size:10px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;  text-align:center; border-bottom:3px solid #fff; padding:5px 0;margin-top:-41px; }


#header{width:865px; height:100px; margin:0 0 0 2px;}
#logo {	left:10px;	position: absolute;	top: 9px;}
#logo a{	left:40px;	width:auto;	height::auto;	top: 10px;	}

.toplinks{float:right; padding:0 5px 0 0; width:400px; }
/* SOCIAL --------------------------------------------------------*/

.social{	display: block;	float: right;	margine:10px;}

.social li{	display: block;	width: 21px; height: 20px;	float: left;	margin-left: 11px;	padding: 0px;}

.social li a{ 	display: block;	height: 100%;	width: 100%;}

/* ----------------------------------------------TopBar-------------------------------------*/

#topbar{ float:right; padding:2px 0 0 0; text-align:right;}
#topbar ul{margin:0; padding:0; list-style:none;}
#topbar li{display:inline; margin:0 1px 0 0; padding:0 5px 0 0; border-right:1px solid #999;}
#topbar li.last{margin-right:0; padding-right:0; border:none;}
#topbar a{color:#999; font-size:11px; }

/* ------------------------- phone no --------------------------- */
.top_number{float:right; width:180px; padding:0 0 0 50px; margin-top:5px; color:#00bed6; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; font-weight:lighter; background:url(../images/telephone_icon.jpg) no-repeat left top 5px;line-height: 23px;}
.top_phone_no{font-size:23px; font-weight:bold}



/* ----TopNav----*/

#search1{float:right; margin:10px 0 0 0; width:275px; height:30px; font-size:14px; padding:10px 0 0 30px; color:#FFF;  background:url(../images/green_tab_bg.jpg) repeat-x;}
#search1 input{ width:83px; height:15px; border:1px solid #fff; margin:0 0 0 5px; background:#86bd4a; color:#fff;}
#search1 img.a{ margin:10px 0 0 0}
.SearchTxtSpecialty{min-width:180px;white-space: nowrap;height:100px;background-color:White; overflow:visible;}
.SearchTxtState{min-width:180px;white-space: nowrap;height:100px;background-color:White; overflow:visible;margin-left:-95px;}

#biller {float:left; display:block; width:556px; height:40px; margin:10px 0 0 0; padding:0; background:url(../images/green_tab_bg.jpg) repeat-x; overflow:hidden;}
#biller ul {display:block; height:40px; }
#biller ul li{ display:inline; height:40px; line-height:20px; font-size:14px;}
#biller ul li.last{margin:0; height:40px;}
#biller ul li a{padding:13px 15px 10px 15px; margin:0px 0px 2px 0px; height:40px; color:#FFFFFF; background-color:transparent;}
#biller ul li a:hover, #biller ul li.active a{height:38px; margin:0px 0px 2px 0px; color:#fff; background-color:#4d8f06;}


/*New Menu CSS*/
.menu_top {width:100%;height:6px; background:url(../images/green_tab_bg.jpg) repeat-x;}
.menu {float:left; list-style:none;position:relative;margin:10px 0px 0px 3px;padding:0 0 0 37px; width:520px; height:40px; font-size:14px;background:url(../images/green_tab_bg.jpg) repeat-x;}
.menuItems td {padding-bottom:0px;float:left;position:relative; margin-right:3px;}
.menuItems td a{padding:9px 15px; display:block; font-size:14px;text-decoration:none; border-right:1px solid #cacaca;text-decoration:none; height:22px; text-align:center;  color:#336600; letter-spacing:0.3px;}
.menuItems td a:hover{padding:9px 15px; color:#fff; background-color:#4d8f06;}
.selected td a {padding:9px 15px; color:#fff; background-color:#4d8f06;}

.menu1 {position:absolute;top:40px;left:0px;margin-left:-1px;background:#86bd4a;opacity: 0.9;-khtml-opacity:.90; -moz-opacity:.90; -ms-filter:"alpha(opacity=90)"; filter:alpha(opacity=90); opacity:.90; display:none;border:5px solid #4d8f06;-webkit-box-shadow: -1px 0px 5px #848484);-moz-box-shadow:-1px 0px 5px rgba(61, 50, 50, 0.75);box-shadow:-1px 0px 5px #848484;}
.menuItems1 td {min-width:159px;background:url(../images/green_tab_bg.jpg) repeat-x; float:left; border-bottom: 5px solid #4d8f06;display:block; width:auto; height:auto;font-size:12px;}
.menuItems1:hover td {background:#4d8f06; color:#FFF; display:block; width:auto;height:auto;}
.menuItems1 td a{text-decoration:none;color:#336600; padding:6px 2px 6px 28px;margin:0px;display:block;border-bottom:1px solid #06274f;font:12px Verdana, Geneva, sans-serif; }
.menuItems1:hover td a{background-color:#4d8f06;border-bottom:5px solid #4d8f06;color:#fff;}



#search{float:right; margin:10px 0 0 0; width:275px; height:30px; font-size:14px; padding:10px 0 0 30px; color:#FFF;  background:url(../images/green_tab_bg.jpg) repeat-x;}
#searc1 input{ width:83px; height:15px; border:1px solid #fff; margin:0 0 0 5px; background:#00bed6; color:#fff;}
#search1 .ImageButton {width:16px; height:16px;background:none;border-style:none;}
#search img.a{ margin:10px 0 0 0}
.SearchTxtSpecialty{min-width:180px;white-space: nowrap;height:100px;background-color:White; overflow:visible;}
.SearchTxtState{min-width:180px;white-space: nowrap;height:100px;background-color:White; overflow:visible;margin-left:-95px;}



/* content */
#content{float:left; width:865px;}
.left_clmn{float:left; width:605px; padding:8px 10px; }
.right_clmn{float:left; width:210px; padding:17px 15px 0 5px; }

/* center form */
.center_form{width:505px; background:#82cc30; padding:13px 15px; margin:10px 0 10px 15px;float:left;}
.center_form h2{font-size:15px; color:#fff; width:100%; text-align:center; margin-bottom:5px; padding:0;}
/*.center_form h2{font-size:12px;color:#fff; width:100%; text-align:center; margin:0 0 5px 0; padding:0;}*/
.center_form input{width:500px; height:18px; background: url(../images/textbox_bg.jpg) repeat-x #f5f4f5; padding:3px 0 2px 5px; border:none; box-shadow:1px 1px 1px 1px #999 inset; margin:5px 0 0 0; color:#666;}
.center_form select{width:505px; height:22px; background: url(../images/textbox_bg.jpg) repeat-x #f5f4f5; padding:3px 0 2px 5px; border:none; box-shadow:1px 1px 1px 1px #999 inset; margin:5px 0 0 0; color:#666; border:none;}
.center_form textarea{width:500px; height:32px; background: url(../images/textbox_bg.jpg) repeat-x #f5f4f5; padding:3px 0 2px 5px; border:none; box-shadow:1px 1px 1px 1px #999 inset; margin:5px 0 0 0; color:#666; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px;resize: none; }
.center_form_submit_btn a{display:block; height:27px; width:100%; color:#fff; background:url(../images/form_btn_bg.jpg) repeat-x; margin:10px 0 10px 0; font-size:16px; text-align:center; padding:9px 0 0 0;}


/* testimonials */
.testi{width:217px; height:238px; background:url(../images/testi_bg1.jpg) repeat-y; margin:0 0 30px 0; }
.testi_content{width:195px; padding:8px 10px; height:198px;}
.testi_content h6{color:#fff; font-size:16px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight:normal; margin:10px 5px; padding:0;}
.testi_content p{color:#fff; font-weight:lighter; margin:0 0 0 5px; text-align:justify;}
.testi_btm{width:217px; height:33px; background:url(../images/testi_btm1.jpg) no-repeat;}
.name{ float:right; text-align:right; color:#fff; height:50px; padding:5px 0; }
.testi_content ul {clear:both; float:right; font-size:10px; display:block; margin:0px; padding:0px;}
.testi_content ul li{ display:inline; padding:0 3px; color:#fff; margin:0px;}
.testi_content ul li input{  color:#fff; font-size:9px; display:inline;background  : none;cursor  : pointer; border  : none; width:12px;}
.testi_content ul li input:hover{color:#004653;}

.breadcrumbs{float:left; width:582px; height:19px; background:url(../images/breadcrumb_bg.jpg) repeat-x; margin: 10px 0 10px 15px; color:#fff; padding:2px 4px;}
.bc_home_icon{float:left; width:20px; height:19px; margin:0 10px; }
.bc_other_links{float:left; border-left:1px solid #9b9c9b; font-size:10px; margin:0px;}
.bc_other_links a{float:left; color:#FFF; padding:3px 10px;}

/* home content */
#home_top_content_biller{width:593px; margin:0 0 10px 15px; background:url(../images/biller_home_img.jpg) no-repeat right top;}
#home_top_content_biller h1{font-size:28px; margin:0; padding:0 auto; color:#666; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
font-weight:lighter; }
#home_top_content_biller p{width:365px; text-align:justify;}

/* article banner */
#article_banner{width:590px; margin:0 0 10px 15px;}
#article_banner input {width:70%; height:23px; background:url(../images/textbox_bg.jpg) repeat-x top; border:0; margin-bottom:5px;}
#article_banner img{  padding:5px;}

/* refere a friend */
#refere_banner{float:left; width:590px; margin:0 0 10px 15px; background:url(../images/refer_a_friend.jpg) no-repeat top right;}

/* FAQ */
.faq_form{float:left; width:350px; margin-top:10px}
.faq_form_title{float:left; width:100px;}
.faq_form input{float:left; width:200px;height:23px; background:url(../images/textbox_bg.jpg) repeat-x top; border:0; margin-bottom:5px; } 

/* biller services banner */
#biller_services_banner{float:left; width:593px;  margin:0 0 14px 15px; background:url(../images/biller_service_img.jpg) no-repeat right top;}



.physician_services{float:left; width:366px; text-align:justify; margin:0 0 0 15px; }
.physician_services p{width:360px; text-align:justify; margin:0; padding:5px 0;}

.biller_ihj{ float:left; width:193px; height:60px; background:url(../images/biller_ihj.jpg); margin:3px 0 0 15px;}
.biller_bnc{float:left; width:193px; height:60px; background:url(../images/biller_bnc.jpg); margin:3px 0 0 3px ;}
.biller_icd{float:left; width:193px; height:60px; background:url(../images/biller_icd.jpg) right; margin:3px 0 0 3px ;}
.biller_postjob{float:left; width:193px; height:59px; background:url(../images/biller_post_jobs.jpg); margin:3px 0 0 15px; }
.biller_enroll{float:left; width:193px; height:59px; background:url(../images/biller_enroll.jpg); margin:3px 0 0 3px;}
.biller_subscribe{float:left; width:193px; height:59px; background:url(../images/biller_subscribe.jpg); margin:3px 0 0 3px;}
.biller_intro{float:left; width:193px; height:36px; background:url(../images/biller_detail_intro.png); margin:3px 0 0 15px; }
.biller_knowmore{float:left; width:193px; height:36px; background:url(../images/biller_detail_knowmore.png); margin:3px 0 0 3px;}
.biller_meeting{float:left; width:193px; height:36px; background:url(../images/biller_detail_reqmeeting.png); margin:3px 0 0 3px;}
.job_detail_resume{float:left; width:193px; height:36px; background:url(../images/job_detail_register_resume.jpg); margin:3px 0 0 3px;}
.job_detail_alert{float:left; width:193px; height:36px; background:url(../images/job_detail_get_alert.jpg); margin:3px 0 0 3px;}
.job_detail_apply{float:right; width:144px; height:36px; background:url(../images/apply_now.jpg); margin:3px 0 0 3px;}
.employer_post_jobs { width:215px; height:202px; background:url(../images/employer_postjobs.jpg) no-repeat}

.billers_newsletter{float:left; width:195px; height:100px; padding:10px;text-align:center; background:url(../images/billers_form.jpg) no-repeat; margin:0 0 15px 8px;}
.billers_newsletter_heading{  text-transform:uppercase; font-size:17px; padding:0; margin:5px 0;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.billers_newsletter .email{width:115px; margin:10px 3px 0 0; float:left;}
.billers_newsletter .submit{padding:6px; width:59px; height:24px; text-align:center; color:#fff; background:url(../images/submit_bg.jpg) repeat-x; border:none; margin:10px 0 0 0;float : right;}
.submit1{padding:6px; width:59px; height:24px; text-align:center; color:#fff; background:url(../images/submit_bg.jpg) repeat-x; border:none; margin:10px 0 0 0;}

/* review*/
.biller_review{ float:left; width:366px; height:225px; background:url(../images/biller_riview.jpg) no-repeat bottom; margin:10px 0 0 15px;}
.biller_review_heading{ color:#6d6e71; font-size:20px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; padding:5px 0 0 0; margin:0; font-weight:lighter;}

/* ICD 10 training*/
.icd_training{ float:left; width:215px; height:202px;  margin:0 0 0 5px; }
.icd_training .header{float:left; width:95%; font-size:14px; height:31px; margin:0; padding:5px ;background:url(../images/icd_head_home_bg.jpg) repeat-x;}
.icd_training ul{ padding:0 15px; list-style-image:none; list-style:square; width:180px;}
.icd_training ul li{line-height:14px; margin:0 0 0 10px; list-style-image:none; list-style:square  }
.icd_training_heading{ float:left; width:215px; height:20px;-moz-height:27px; color:#6d6e71; margin:15px 0 7px 0; font-size:20px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight:lighter;}
.icd_training_body{float:left; background:#e5e5e5; width:99%;}

/* icd_form */
.icd_form{ float:left; height:106px; width:290px; margin:0 ; background:#6a696a; padding:0;}
.icd_form1{ float:left; height:91px; width:290px; margin:0 10px 0 0; background:#6a696a; padding:15px 0 0 0; vertical-align:top;}
.icd_form h4, .icd_form1 h4{font-size:14px; color:#FFF; margin:0; padding:5px; font-weight:normal; }
.icd_form input, .icd_form1 input{ width: 250px;height: 18px;background: url(../images/textbox_bg.jpg) repeat-x #f5f4f5;padding: 3px 0 2px 5px;border: none;
box-shadow: 1px 1px 1px 1px #999 inset;margin: 5px 0 0 0;color: #666; margin:0 0 0 5px;}
.icd_form_btn{display: block;height:17px;width: 100%;color: #fff;background:#86bd4a;font-size:12px; text-align: center; vertical-align:middle; margin:11px 0 0 0; padding:5px 0 0 0 ;}
.icd_form_btn a{ text-decoration:none; color:#FFF;}
.icd_form_btn1{display: block;height:17px;width: 100%;color: #fff;background:#86bd4a;font-size:12px; text-align: center; vertical-align:middle; margin:19px 0 0 0; padding:5px 0 0 0 ;}
.icd_form_btn1 a{ text-decoration:none; color:#FFF;}

.icd_planning_box{ float:left; width:138px; height:122px; background: url(../images/icd_list_top_bg.jpg) no-repeat #efefe9; margin:10px 10px 0 0;}
.icd_planning_box_last{ float:left; width:138px;  height:122px; background: url(../images/icd_list_top_bg.jpg) no-repeat #efefe9; margin:10px 0 0  0;}
.icd_planning_top{width:100%; text-align:center; height:22px; padding:10px 0 0 0; margin:0 0 5px 0;}
.icd_planning_content{ width:128px; padding:0 5px; height:85px; text-align:center;}

.icd_calender{  width:211px; height:198px; background:url(../images/calender_bg.jpg) no-repeat; margin:0 0 10px 0;}
.icd_calender_month{float:left; width:114px; height:35px; font-size:14px; font-weight:bold; color:#407f01; padding:5px; margin:22px 0 0 0; background:none scroll 0 0 transparent; }
.icd_calender_arrow1 a{float:left; width:20px; height:20px; background:url(../images/calender_arrow_left.png) no-repeat; margin:35px 10px 0 10px;}
.icd_calender_arrow2 a{float:left; width:20px; height:20px; background:url(../images/calender_arrow_left.png) no-repeat; margin:35px 10px;}

.icd_updating{width:211px; height:171px; background:url(../images/icd_upcoming_update.jpg) no-repeat;  margin:0 0 10px 0;}
.icd_updating_content{float: left;margin: 70px 0 0 0;width: 98%;height: 10px;text-align: center;font-size: 14px;color: #FFF;line-height: 18px;padding: 3px; }

.icd_enroll_with a{ display:block; width:214px; height:77px; background:url(../images/enroll_with_us.jpg) no-repeat; outline:0px; border:0px; margin:0 0 10px 0;}

.icd10_updated {width:207px; height:208px; margin:0 2px 10px 2px; background:url(../images/get_updated_icd10.jpg) no-repeat;}
.icd10_updated a{display:block;width:207px; height:208px; margin:0 2px; background:url(../images/get_updated_icd10.jpg) no-repeat;}
.icd_date_box{float:left; width:153px; padding:0 0 20px 20px;}
.icd_date_box p{width:100%; margin:5px;}
.icd_date{float:left;height:18px; padding:10px 7px; margin:0 2px 0 0; font-size:17px; background:url(../images/icd_date_bg.jpg) repeat-x; color:#fff;}

.biller_title{width:100%; padding:5px 0; text-align:center; color:#FFF; font-size:16px; background:#4d8f06;}



#content_para1{ float:left; width:570px; padding:10px;  margin:0 0 5px 15px }
.row1{ float:left; width:100%; background:#d3d3d2; margin:3px 0 0 0;}
.row2{float:left; width:100%;  margin:3px 0 0 0; border-bottom:1px solid #cfcfcf;background:#efefef;}

.header_grid{width:100%; color: #FFFFFF;background: none repeat scroll 0 0 #0098B3; height:30px; text-align:center; }
.row11{ width:100%; background:#d3d3d2; height:30px; margin-left: 6px;}
.row22{width:100%; background:#efefef;height:30px;margin-left: 6px;}

/* Press Release */
.PressRelease_list{ float:left; padding:10px; width:566px; }
.PressRelease_list a{color:#666;}
#icd_btn {float:left; width:100%; text-align:center; }

#content_para2{ float:left; width:590px; padding:10px 0;  margin:0 0 5px 15px; text-align:justify; }
.content_para2 {float:left; width:590px; padding:10px 0px;  margin:0 0 5px 15px ; text-align:justify;}

/* dynamic pages*/
#dynamic_para{ float:left; width:590px; padding:10px 0;  margin:0 0 5px 15px; text-align:justify; }

/* article list */
.article_list{ float:left; padding:10px; width:420px; }
.article_list a {color:#666;}
.article_list_download { float: left;width: 130px;height: 50px;text-align: left;margin: 10px 5px 5px 0;padding: 0 0 15px 10px;border-left: 1px solid #bbb; }
.article_list_download a{display:block; width:110px; height:45px; text-align:left; color:#666;  }
.article_list_apply {float:left; width:90px; height:51px; margin:10px; background:url(../images/apply.png) no-repeat left top;margin:10px 0 0 20px; } 
.article_list_apply a{float:left; width:90px; height:51px; margin:10px; margin:10px 0 0 20px; } 
.article_list h4{font-size:11px; padding:3px 0; margin:0;}

.article_list1{ float:left; padding:10px; width:550px; }
.article_list1 h4{font-size:11px; padding:3px 0; margin:0;}

/* billers list */
.billers_list_content{ float:left; padding:10px; width:270px; font-size:11px; text-align:justify;}
.billers_list_sns{ float:left; padding:10px 5px 10px 0; width:150px; margin:15px 0 15px 0; border-right:1px solid #aaa; text-align:center; }
.billers_list_connect {float:left;width:105px; height:35px; text-align:left; margin:5px 5px 0 0; padding:20px 0 0 10px;  background:url(../images/connect_icon.png) no-repeat right; }
.billers_list_connect a{width:110px; height:45px; text-align:left; color:#666;  }

/* footer */
#footer{float:left;width:820px; height:215px; background:url(../images/footer_top_bg.jpg) repeat-x top; font-size:10px; margin:20px 0 0 25px;}
.most_visited {float:left; width:370px; height:160px; } 
.most_visited h3 { text-align:center; color:#444; font-size:14px; text-transform:uppercase; padding-top:5px; margin:5px 0 10px; font-weight:normal; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }
.most_visited ul{ float:left; width:150px; list-style-type:none; margin:0; padding-left:25px; }
.most_visited ul li{list-style-image:url(../images/list_arrow.png); margin:0; line-height:19px; padding:0px}
.most_visited ul li a{list-style-image:url(../images/list_arrow.png); margin:0; line-height:16px; padding:0px; color:#444;}
.most_visited ul li a:hover{color:#000}

.site_links{ float:left; width:450px; height:160px }
.site_links h4 { text-align:center; color:#444; font-size:14px; text-transform:uppercase; padding-top:5px; margin:5px 0 10px; font-weight:normal; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }
.site_links ul{ float:left; width:89px; list-style-type:none; margin:0; padding-left:22px; border-left:1px solid #888; }
.site_links ul li{list-style-image:url(../images/list_circle.png); margin:0; line-height:19px; padding:0px}
.site_links ul li a{list-style-image:url(../images/list_circle.png); color:#444; margin:0; line-height:16px; padding:0px}
.site_links ul li a:hover{color:#000}

/* page nav 
.pagelisting{float:left;margin:10px 0 0 0; width:99%}
.pagelisting_box a{float:left;  width:8px; height:17px; padding:2px 6px;  font-size:11px; font-weight:bold;background:url(../images/page_nav_unselected.jpg) no-repeat;  margin:0 2px 0 0; color:#fff;}
.pagelisting_box a:hover{float:left; width:8px; height:17px; padding:2px 6px; font-size:11px; font-weight:bold; text-decoration:none; color:#666; background:url(../images/page_nav_selected.jpg);}
*/
.pagelisting{float:left;margin:10px 0 10px 0;width:99%;padding:0;border:none}
.pagelisting table{border-style:none;border-color:#fff}

.pagelisting table td span{float:left; width:20px; height:17px; padding:2px 0px; text-align:center; vertical-align:middle; font-size:11px; font-weight:bold; text-decoration:none; color:#666; background:url(../images/page_nav_selected.jpg);margin:0 -2px 0 0; }
.pagelisting table td a{float:left;  width:20px; height:17px; padding:2px 0px; text-align:center; vertical-align:middle;  font-size:11px; font-weight:bold;background:url(../images/page_nav_unselected.jpg) no-repeat;  margin:0 -2px 0 0; color:#fff;}
.pagelisting table td a:hover{float:left; width:20px; height:17px; padding:2px 0px; text-align:center; vertical-align:middle; font-size:11px; font-weight:bold; text-decoration:none; color:#666; background:url(../images/page_nav_selected.jpg);}
.pagelisting td{border:none}.close1{background:url("http://cdn1.medicalbillersandcoders.com/images123/close_button.png") no-repeat scroll 0 0 transparent;border:medium none;height:42px;margin-left:-20px;margin-top:-18px;width:42px;position:absolute;cursor:pointer}.white_panel1_static{float:left;width:650px;background:#FFF;border:1px solid #e3e3e3;padding:20px;margin:5px 0 10px;text-align:justify;line-height:17px;font-size:13px}

.copyright{float:left; width:840px; text-align:center; height:31px; padding:15px 0 0 0; margin-top:9px; color:#fff; }

/* accordian */
.review{ float:left; width:365px; height:200px; /*background:url(../images/review_billers.jpg);*/ margin:10px 0 0 15px;}
.accordion{float:left; width:366px; height:200px; margin-left:15px}
.accordion h2{width:366px; color:#6d6e71; font-size:20px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; padding:5px 0; margin:0; font-weight:lighter;}
.accordionHeaderSelected { color: white;background:url(../images/accordian_arrow2.png) no-repeat left #86BD4A;font-family: Arial, Sans-Serif;font-size: 14px;padding: 4px 2px 4px 20px;margin-top: 2px;cursor: pointer; overflow:visible;}
.accordionHeader         { color: white;background:url(../images/accordian_arrow1.png) no-repeat left #4b4b4b;font-family: Arial, Sans-Serif;font-size: 14px;padding: 4px 2px 4px 20px;margin-top: 2px;cursor: pointer;}
.accordionContent {background: #e5e5e5;padding: 9px;height:50px;}

.accordionContent li.StateFirst{float:left;	display:inline-block;	width:97px; border-right:1px solid #666; padding-left:10px;}
.accordionContent li.StateFirst a{text-decoration:none; color:#666;}
.accordionContent li.StateFirst a:hover{color:#000;}

.accordionContent li.StateLast{float:left;	display:inline-block;	width:97px; padding-left:10px;}
.accordionContent li.StateLast a{text-decoration:none; color:#666;}
.accordionContent li.StateLast a:hover{color:#000;}

.accordionContent li.SpecialtyFirst{float:left;	display:inline-block;	width:152px; border-right:1px solid #666; padding:0 10px;}
.accordionContent li.SpecialtyFirst a{text-decoration:none; color:#666;}
.accordionContent li.SpecialtyFirst a:hover{color:#000;}

.accordionContent li.SpecialtyLast{float:left;	display:inline-block;	width:152px; padding:0 10px;}
.accordionContent li.SpecialtyLast a{text-decoration:none; color:#666;}
.accordionContent li.SpecialtyLast a:hover{color:#000;}
.accordionLink { color:White; }
.accordionViewAll {float: right; padding-top: 3px;}

/* city state listing */
.list_box {float:left; margin:10px 0px 0px 5px;padding:5px 0 0 0;border:none;}
.list_box table{float:left; border:none; width:590px; padding:0; margin:0; border-spacing:0px; }
.list_box td{float:left; border-bottom:1px solid #fff;}
.list_box table td {float:left; width:124px; margin:0 10px 0 0;  padding:10px 3px 10px 9px; text-decoration:none; color:#666;  }
.list_box table td a{float:left; text-decoration:none; color:#666;}
.list_box table td a:hover{float:left; text-decoration:none; color:#000; }

.list1{background:#ebeceb}
.list2{background:#c8c7c8}
.list1:hover{background:#c8c7c8}
.list2:hover{background:#ebeceb}

.alpha_paging { float:left; width:580px; height:23px; margin:10px 0 0 5px; padding:0; background:url(../images/az_pagination_bg.jpg) repeat-x;color:#FFF}
.alpha_pading table {float:left; border:0px; border-spacing:0px; padding:5px; margin:0px; text-decoration:none; color:#fff; }
.alpha_pading table td {float:left; height:23px; width:590px; text-decoration:none; color:#FFF; }
.alpha_pading td a{float:left; height:23px; width:590px; color:#fff;}

/* job posting banner */
#job_posting{ float:left; width:590px; margin:0 0 10px 15px;}

#job_posting_img{float:left; width:590px; margin:10px 0 0 0; height:112px; background:url(../images/job_posting_img.jpg) center;}
#job_posting_hiring{float:left; width:590px; height:111px; background:#4d8f06; margin:10px 0 0 0; padding:10px 0 0 0}
#job_posting_hiring img{float:left;width:152px; height:160px; margin:-23px 15px 10px 15px; z-index:999px;}
#job_posting_hiring h1{float:left; width:400px;color:#FFF; font-size:16px; font-weight:bold;}
#job_posting_hiring ul{float:left; color:#fff; font-size:14px; width:350px; font-weight:bold;}

/* job posting form */
#job_posting_form {float:left;width:415px; margin:20px 90px 10px 90px; background:#ebebeb; padding-bottom:10px; }
.job_posting_form_clmn{float:left; width:190px; padding:0 0 0 10px;}
#job_posting_form input{float:left; width:180px; height:20px; margin:5px 0 0 0 ; padding:5px; border:1px solid #E5E5E5; color:#777;font-size:12px;}
#job_posting_form select{float:left; width:190px; height:25px; margin:5px 0 0 0 ; padding:5px; border:1px solid #E5E5E5; color:#777;font-size:12px; border:none;}
#job_posting_btn{ float:left; width:415px;height:25px; margin: 0 0 0 90px; text-align:center; color:#fff; font-size:14px; font-weight:bold;}
#job_posting_form textarea{float:left; width:180px; height:117px; margin:5px 0 0 0; padding:5px; border:1px solid #e5e5e5; color:#777; font-size:12px; font-family:Arial, Helvetica, sans-serif;resize: none;}
.job_posting_form1 {float:left;width:395px; background:#ebebeb; padding:10px;margin: 20px 90px 10px; }
.searchBox{background:#fff url('../images/calender_icon.jpg') no-repeat top right; cursor:pointer; }

/* form */
.form{width:183px; background:#2ebbd3; padding:13px 15px; margin:0 0 10px 0;}
.form h5{font-size:30px; margin:5px 0 0 0; padding:0 auto; color:#666; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight:normal;
             font-size:15px; font-weight:bold; color:#fff; width:100%; text-align:center; margin:0; padding:0;}
.form h2{font-size:12px;color:#fff; width:100%; text-align:center; margin:0 0 5px 0; padding:0;}
.form input{width:173px; height:18px; background: url(../images/textbox_bg.jpg) repeat-x #f5f4f5; padding:3px 0 2px 5px; border:none; box-shadow:1px 1px 1px 1px #999 inset; margin:5px 0 0 0; color:#666;}
.form select{width:178px; height:22px; background: url(../images/textbox_bg.jpg) repeat-x #f5f4f5; padding:3px 0 2px 5px; border:none; box-shadow:1px 1px 1px 1px #999 inset; margin:5px 0 0 0; color:#666; border:none;}
.form textarea{width:173px; height:32px; background: url(../images/textbox_bg.jpg) repeat-x #f5f4f5; padding:3px 0 2px 5px; border:none; box-shadow:1px 1px 1px 1px #999 inset; margin:5px 0 0 0; color:#666; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px;resize: none; }
.form_button {display:block; height:27px; width:100%; color:#fff; background:url(../images/form_btn_bg.jpg) repeat-x; margin:10px 0 10px 0; font-size:16px; text-align:center; padding:9px 0 0 0; border:0}

.form .SubmitButton {display: block; height: 34px !important;
                    width: 178px; color: #fff; background: url(../images/postjob_btn_bg.jpg) repeat-x;
                    font-size: 16px; text-align: center; padding: 9px; cursor: pointer;    }


/* category */
.category_box{height:205px;width: inherit; margin:0 0 10px 0; background:url(../images/category_box_bg.jpg) repeat-x top;}
.category_box h3{padding:10px 0 5px 0; margin:0; color:#fff; font-size:13px; text-align:center; text-transform:uppercase; font-weight:normal; font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;}
.category_box ul{padding:0; margin:0 0 10px 0; list-style-type:none;}
.category_box ul li{ display:block; margin:0; padding:5px 20px; height:14px; background:url(../images/category_bg.jpg) repeat-x;}
.category_box ul li a{ color:#666;}
.category_box ul li a:hover{ color:#000;}

/* Article box */
.article_list_box{width:217px; margin:0 0 10px 0; padding:0 0 5px 0; background:url(../images/category_box_bg.jpg) repeat-x top #e1e2e1;}
.article_list_box h1{padding:10px 0 0 0; margin:0; color:#fff; font-size:13px; text-align:center; text-transform:uppercase;}
.article_list_box ul{padding:0; width:198px; margin:15px 0 0 0; padding:0 0 0 15px; list-style-type:none;}
.article_list_box ul li{ margin:0 0 0 10px; padding:5px; list-style-image:url(../images/icd_arrow.png);}
.article_list_box ul li a{  margin:0; list-style-image:url(../images/icd_arrow.png); color:#666;}
.article_list_box ul li a:hover{ color:#000;}
.article_list_box_SubHeading{margin:10px;font-weight:bold; }

.read_more_green {float:right; padding:0 7px; margin:7px; background:url(../images/read_arrow.png) no-repeat; color:#4d8f06; font-size:12px;}
.read_more_green a{ color:#4d8f06; font-size:12px;}

.enroll_vidio{width:100%; height:410px; margin:15px 0; text-align:center;}
.enroll_btn_box{ width:100%; height:52px; background:#4d8f06;}
.enroll_step1 a{Float:left; display:block; width:118px; height:52px; background:url(../images/enroll_step1.jpg) no-repeat;margin:0 0 0 3px;}
.enroll_step1 a:hover{background:url(../images/enroll_step1_rollover.jpg) no-repeat;}
.enroll_step1 a.current{background:url(../images/enroll_step1_rollover.jpg) no-repeat;}
.enroll_step2 a{Float:left;display:block; width:157px; height:52px; background:url(../images/enroll_step2.jpg) no-repeat;}
.enroll_step2 a:hover{background:url(../images/enroll_step2_rollover.jpg) no-repeat;}
.enroll_step2 a.current{background:url(../images/enroll_step2_rollover.jpg) no-repeat;}
.enroll_step3 a{Float:left;display:block; width:135px; height:52px; background:url(../images/enroll_step3.jpg) no-repeat;}
.enroll_step3 a:hover{background:url(../images/enroll_step3_rollover.jpg) no-repeat;}
.enroll_step3 a.current{background:url(../images/enroll_step3_rollover.jpg) no-repeat;}
.enroll_btn{ float:left; width:415px;height:25px; padding:6px 0 0 0; text-align:center; color:#fff; font-size:14px; font-weight:bold; background:url(../images/enroll_upload_cv.png) no-repeat; margin-top:10px; }

/* medical coding banner */

#certification_banner{float:left; width:590px; margin:0 0 0 15px; background:url(../images/certification_banner.jpg) no-repeat top right;}

.blank_row{float:left; width:100%; padding-bottom:10px; border-bottom:1px solid #ccc;}
.blank_row_last{float:left; width:100%; padding-bottom:10px;}
.text_space{float:left; width:96%; padding:5px; }
.about_img_blank{ height:226px; float:right; width:294px;}

/* table layout */
.table_layout{width:90%; background:#fff ; padding:5px; border:1px solid #ccc; margin:0 auto; }
.table_layout th{ text-align:center; vertical-align:middle; background:#ccc; padding:5px; font-size:14px; }
.table_layout td{text-align:left; padding:5px; background:#E8E8E8}

/* 404 error */
.error{margin:10px; text-align:center;}

input {
 outline-color: invert;
 outline-style: none;
 outline-width: medium;
}
.img_blank{ height:226px; float:right; width:230px;}
.img_blank_small{ height:195px; float:right; width:230px;}

.biller_row{float:left; padding:10px;width:170px;margin:0 5px;}.choosebiller{float:left;width:176px;text-align:center;color:#fff}
.detail{width:370px; float:left;margin:5px;}

/*-------------- Quiz ----------------------*/
.quiz { margin:5px 25px 10px 15px; width:820px; height:607px; background:url(../images/quiz_home_bg.jpg) center;}
.quiz_title{padding:25px 0 15px 0; width:100%; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:40px; color:#7b7b7b; text-align:center;}

.quiz_shape{ margin:10px auto; padding:90px 50px 0 50px; width:284px; height:338px; background:url(../images/quiz_shape.png) no-repeat; font-size:25px;}
.quiz_intro{ margin:10px auto; text-align:justify; width:400px; font-size:16px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.quiz1 { margin:25px auto; width:820px; background:url(../images/quiz_home_bg.jpg) center repeat-y; padding: 0 0 10px 0;}
.quiz_shape1{ margin:10px auto; padding:50px 50px 0 50px; width:272px; height:340px; background:url(../images/quiz_shape.png) no-repeat; font-size:25px;}
.quiz_validators{margin:10px auto;width:162px; }
.quiz_shape1 input{width:143px; height:32px; margin:5px 5px 0px 10px; border:0px; outline:0px;  background: url(../images/quiz_text_box.png) no-repeat;
padding:0px 5px 5px 5px;  color:#666;}
.quiz_shape1 select{width:143px; height:32px; margin:5px 5px 0px 10px; border:0px; outline:0px;  background: url(../images/quiz_text_box.png) no-repeat;
padding:0px 5px 5px 5px;  color:#666;}
.quiz_submit{margin:48px 47px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; text-align:center; font-size:18px; color:#fff; float:left;}
.quiz_qn { margin:25px auto; width:820px; background:#e0e0e0; }
.quiz_title1{padding:25px 0 15px 0; width:100%; background:#00bed6; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:30px; color:#FFF; text-align:center;}
.quiz_qn p{ color:#FFF; font-size:16px; padding:0 80px;}
.quiz_queston_track{ width:90%; background:url(../images/arrow.png) no-repeat; height:30px; margin:0 0 0 81px;}
.track { text-align:right; font-size:15px; font-weight:bold; color:#00bed6; margin:0 81px 0 0; padding:10px 0 0 0}
.question{font-size:18px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; margin:0 81px ; padding:30px 0 0 0; width:80%; color:#444; border-bottom:1px solid #ccc; min-height:280px;}
.question p{  margin:10px 0;  }
.question label{font-size:14px; line-height:34px; width:100%;}
.qn_next { width:115px; height:41px; background:url(../images/next_btn.png) no-repeat;padding:15px 0 0 30px;color:#FFF; margin:10px 0 0 0 ; }
.qn_next a{color:#FFF;   }
.qtn_btm{ height:107px; width:80%;font-size:22px;  background:url(../images/logo_at_btm.png) right no-repeat; margin:0 0 0 81px}
.qtn_btm_strip{ background:#00bed6; width:100%; height:27px;}

/*Master Page Tool Tips*/
a.tooltips {  position: relative;  display: inline;}
a.tooltips span { padding:7px;   position: absolute;  min-width:140px;  color: #FFFFFF;  background: #00bed6;    /*line-height: 20px;*/  text-align: center;  visibility: hidden;  border-radius: 6px; font-weight:bold;}
a.tooltips span:after {  content: '';  position: absolute;  right: 100%;	top: 20%;  margin-left: -8px;  width: 0; height: 0;  border-top: 8px solid transparent;  border-right: 8px solid #00bed6;  border-left: 8px solid transparent;  border-bottom: 8px solid transparent;}
a:hover.tooltips span { font-size:11px;  visibility: visible;  opacity: 1;  top: 0%;  left: 230%;  margin-left: -76px;  z-index: 999;}

.quiz_category_box{ width:578px; height:auto; margin:50px auto; text-align:center;}
.quiz_category{ float:left; display:block; width:162px; height:110px; background:#fff; text-align:center;
  -webkit-border-radius: 5px;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 5px;   /* Firefox 1-3.6 */
   border-radius: 5px;   /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
   padding:10px;
   margin:0 10px 10px 0;}
   .quiz_category1{ float:left; display:block; width:162px; height:110px; background:#fff; text-align:center;
  -webkit-border-radius: 5px;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 5px;   /* Firefox 1-3.6 */
   border-radius: 5px;   /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
   padding:10px;
   margin:0 10px 10px 0px;}
   
   .quiz_category img a{ text-align:center; border:0; outline:0; text-decoration:none;}
   .quiz_category p{padding:0; margin:0; text-align: inherit; font-size:16px; font-stretch:ultra-condensed; }
    .quiz_category1 p{padding:0; margin:0; text-align: inherit; font-size:16px; font-stretch:ultra-condensed; }



