.rf-bg-green {
    background: #b1cd6f none repeat scroll 0 0;
    height: 9px;
}
.d1{
float: left; 
margin: 71px 0 50px 0px; 
_margin: 0px 0px 0px 10px;
}

.d2{

text-align: left; padding: 0px

}
.d3{

    text-align: left; padding: 0px 10px;

}
.d4{text-align: left;}




.label{
font-size: small;

}

.value{
padding: 8px;
}

@media screen and (min-width: 320px) and (max-width: 960px) { 
/*
#ctl00_ContentPlaceHolder1_txtName{width:100% !important;}

#ctl00_ContentPlaceHolder1_txtPracticeName{width:100% !important;}
#ctl00_ContentPlaceHolder1_txtSpecialty{width:100% !important;}
#ctl00_ContentPlaceHolder1_txtEmail{width:100% !important;}
#ctl00_ContentPlaceHolder1_txtPhone{width:100% !important;}
#ctl00_ContentPlaceHolder1_ddlstate{width:100% !important;}
#ctl00_ContentPlaceHolder1_ddlstate{width:100% !important;}
#ctl00_ContentPlaceHolder1_ddlHowDoYouKnowThisPerson{width:100% !important;}
#ctl00_ContentPlaceHolder1_txtName1{width:100% !important;}
#ctl00_ContentPlaceHolder1_txtCity{width:100% !important;}

#ctl00_ContentPlaceHolder1_ddlCurrentStatus{width:100% !important;}
#ctl00_ContentPlaceHolder1_txtPracticeName1{width:100% !important;}
#ctl00_ContentPlaceHolder1_txtPhone1{width:100% !important;}
#ctl00_ContentPlaceHolder1_btnSubmit{padding-left: 0%;}*/
}